<div style="float: right; padding: 5px"><button (click)="addNewRecipePressed()">Add New Recipe</button></div>

<div style="float: right;">
	<input type="button" value="toggle dark bg" (click)="toggleBackground()">
	<input type="button" value="toggle font size" (click)="toggleFontsize()">
</div>

<!-- <h1 class="{{use_dark_bg ? 'darkbg' : ''}}"> These are our recipes</h1> -->

<!-- <h1 [class.darkbg]="use_dark_bg"> These are our recipes</h1> -->
<h1 [ngClass]="current_classes" [ngStyle]="current_styles"> These are our recipes</h1>
<p *ngIf="!recipes">
	Loading Recipes ... Please wait a moment!
</p>
<p *ngIf="recipes_loaded && (!recipes || !recipes.length)">
	There are no recipes! Add one now!
</p>
<div *ngFor="let recipe of recipes">
	<!-- See line 13 of recipe summary -->
	
	<app-recipe-summary [recipe]="recipe" (zoomIn)="zoomInOnRecipe(recipe)" (click)="userClickedOnRecipe(recipe)"></app-recipe-summary>
</div>
